:host {
  ::ng-deep {
    .p-card {
        display: flex;
    }
    .p-card-header {
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
    .p-card-content {
      flex-grow: 1;
    }
  }
}
