.movie-item {
  .movie-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 1rem 0;
    transition: all .3s ease-in-out;
  }
  .movie-item-content:hover {
    background-color: var(--surface-d);
    cursor: pointer;
    transform: scale(1.1);
}
}
:host {
  ::ng-deep {
    .p-divider {
      margin-bottom: 5rem;
    }
  }
}
