<ng-container *ngIf="movies$ | async as movies">
  <p-carousel
    [value]="movies.concat()"
    [numVisible]="4"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="3000"
    [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <h1 class="p-1">Movies</h1>
    </ng-template>
    <ng-template let-movie pTemplate="item">
      <div class="movie-item">
        <div class="movie-item-content">
          <div class="mb-3">
            <img
              src="https://image.tmdb.org/t/p/w300{{ movie.backdrop_path }}"
              [alt]="movie.name"
              (click)="movieSelected(movie.id)"
              class="product-image" />
          </div>
          <div>
            <h4 class="mb-1">{{ movie.title }}</h4>
            <span>{{ movie.release_date | date: 'mediumDate' }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</ng-container>

<p-divider align="center">
  <div class="inline-flex align-items-center">
    <i class="bi bi-camera-reels-fill"></i>
  </div>
</p-divider>

<ng-container *ngIf="isMovieSelected">
  <app-movie-details></app-movie-details>
</ng-container>
