<div class="flex justify-content-center align-items-center mt-4">
  <app-series-search-input></app-series-search-input>
</div>

<ng-container *ngIf="series$ | async as series">
  <div class="flex justify-content-center align-items-center m-1 ">
    <div class="card">
      <div class="flex flex-wrap justify-content-center">
        <ng-container *ngFor="let serie of series">
          <app-serie-card [serie]="serie"></app-serie-card>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>