:host {
  ::ng-deep {
    .p-card-body {
      min-width: 100%;
    }
    .p-card-content {
      display: flex;
      flex-wrap: wrap;
    }
    .p-image-preview {
      transition: transform 0.15s;
      min-width: 50vw;
      min-height: 50vh;
    }
    .p-card-content > div:nth-child(1) {
      flex-grow: 1;
      flex-basis: 0;
    }
    .p-card-content > p:nth-child(2) {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}
