<h1
  class="flex justify-content-center align-content-center font-semibold"
  style="color: var(--primary-500); font-size: 52px">
  Welcome!
</h1>
<div class="flex justify-content-center align-content-center">
  <p-splitter styleClass="m-6">
    <ng-template pTemplate>
      <section class="p-7 text-xl font-bold text-center">
        This project was created with Angular and PrimeNG. The main purpose of
        it is to show how to use PrimeNG components in an Angular project, how
        to use PrimeNG themes and Prime Flex css framework, apply Redux pattern
        with NGRX library and styling some components with SASS.
        <br />
        Currently,this project get the data from The Movie Database API, which
        is a free service for movies and TV shows. You can find more information
        about it here:
        <a href="https://www.themoviedb.org/documentation/api"
          >https://www.themoviedb.org/documentation/api</a
        >
        <br />
        Of course, if you want to use this project as a base for your own
        project, feel free to do it.
      </section>
    </ng-template>
    <ng-template pTemplate>
      <img
        src="
      https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"
        alt=""
        class="m-6" />
    </ng-template>
  </p-splitter>
</div>
